{#
/**
 * @file
 * UMD Design System person component.
 *
 * Available variables:
 * - photo: image.
 * - photo_alt: string.
 * - person_name: string.
 * - job_title: string.
 * - email: string.
 * - cta_slot: Call to Action (slot).
*/
#}

<umd-element-person display="block">
  <img slot="image" src="{{ photo }}"
    alt="{{ photo_alt }}">
  <p slot="name">
    {{ person_name }}
  </p>
  {%if job_title %}
    <p slot="job-title">
      {{ job_title }}
    </p>
  {% endif %}
  {% if email %}
    <a slot="email" href="mailto:{{ email }}">{{ email }}</a>
  {% endif %}
</umd-element-person>
