  <umd-element-card-overlay type="image">
    <img slot="image" src="{{ card_image }}"
      alt="{{ card_image_alt }}">

    {% if eyebrow %}
      <div slot="eyebrow">
        <p>
         {{ eyebrow }} 
        </p>
      </div>
    {% endif %}

    <h2 slot="headline">
      <a href="{{ headline_url }}">
        <span class="sr-only">{{ headline_sr_text }}</span>
        <span aria-hidden="true">{{ headline }}</span>
      </a>
    </h2>

    <div slot="text">
      {{ body }}
    </div>

    {% if element_date %}
      <div slot="date">
        <date>
          {{ element_date|date('F j, Y') }}
        </date>
      </div>
    {% endif %}

    {% block cta_slot %}{% endblock %}
  </umd-element-card-overlay>