<umd-element-card>
  <img slot="image" src="{{ card_image }}"
    alt="{{ card_image_alt }}" />
  <div slot="eyebrow">
    <p>{{ eyebrow }}</p>
  </div>
  <div slot="headline">
    <h3>
      {{ headline }}
    </h3>
  </div>
  <div slot="text">
    <p>
      {{ body }}
    </p>
  </div>
  {% if date %}
    <div slot="date">
      <time datetime="{{ date|date("Y-m-d") }}">{{ date }}</time>
    </div>
  {% endif %}
</umd-element-card>
