<umd-element-card border="{{ border }}" aligned="{{ aligned }}" display="{{ display_type }}">
  <img slot="image" src="{{ card_image }}"
    alt="{{ card_image_alt }}" />
  <div slot="eyebrow">
    <p>{{ eyebrow }}</p>
  </div>
  {% if display_type == 'list' %}
    <p slot="headline">
      {% if headline_url %}
        <a href="{{ headline_url }}">
          {{ headline }}
        </a>
      {% else %}
        {{ headline }}
      {% endif %}
    </p>
  {% else %}
    <div slot="headline">
      <h3>
        {% if headline_url %}
          <a href="{{ headline_url }}">
            {{ headline }}
          </a>
        {% else %}
          {{ headline }}
        {% endif %}
      </h3>
    </div>
  {% endif %}
  <div slot="text">
    {% block body_slot %}{% endblock %}
  </div>
  {% if element_date %}
    <div slot="date">
      <time datetime="{{ element_date|date("Y-m-d") }}">{{ element_date|date('F j, Y') }}</time>
    </div>
  {% endif %}
</umd-element-card>
