<umd-element-pathway-highlight>
  <p slot="highlight">
    {{ highlight }}
  </p>
  <p slot="highlight-attribution">
    - {{ highlight_attrib }}
  </p>
  <p slot="eyebrow">
    {{ eyebrow }}
  </p>
  <p slot="headline">
    {{ headline }}
  </p>
  <div slot="text">
    <p>
      {{ body }}
    </p>
  </div>
  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-pathway-highlight>

