{#
/**
 * @file
 * UMD Design System Event component.
 *
 * Available variables:
 * - title: string.
 * - description: string.
 * - location: string.
 * - event_link: string (url)
 * - image: string (uri)
 * - image_alt: string.
 * - start_date: string (date).
 * - end_date: string (date).
*/
#}

<umd-element-event>
  <a slot="image" href="{{ link }}" target="_blank">
    <img
      src="{{ image }}"
      alt="{{ image_alt }}">
  </a>
  <h2 slot="headline">
    {% if link %}
      <a href="{{ link }}">
        {{ title }}
      </a>
    {% else %}
      {{ title }}
    {% endif %}
  </h2>
  {% if description %}
    <div slot="text">
      <p>
        {{ description }}
      </p>
    </div>
  {% endif %}

  {% if start_date %}
    <div slot="start-date-iso">
      {{ start_date|date('Y-m-d\\TH:i:s') }}
    </div>
  {% endif %}

  {% if end_date %}
    <div slot="end-date-iso">
      {{ end_date|date('Y-m-d\\TH:i:s') }}
    </div>
  {% endif %}

  {% if location %}
    <div slot="location">
      {{ location }}
    </div>
  {% endif %}
  {% block cta_slot %}{% endblock %}
</umd-element-event>
