<umd-element-events-date data-theme="{{ theme }}">
    <p slot="month">
        {{ element_date|date('F') }}
    </p>
    <div slot="start-date-iso">
        {{ element_date|date('Y-m-d\\TH:i:s') }}
    </div>
    <p slot="headline"><a href="{{ event_url }}">{{ event }}</a></p>
</umd-element-events-date>