{#
/**
 * @file
 * UMD Design System events date component.
 *
 * @note
 * Broken. This component needs most props converted to slots
 *
 * Available variables:
 * - event_date: string (date).
 * - event: string.
 * - event_url: string (URL).
 * - theme: string. light or dark.
*/
#}

<umd-element-events-date data-theme="{{ theme }}">
  <p slot="month">
    {{ event_date|date('F') }}
  </p>
  <div slot="start-date-iso">
    {{ event_date|date('Y-m-d\\TH:i:s') }}
  </div>
  <p slot="headline"><a href="{{ event_url }}">{{ event }}</a></p>
</umd-element-events-date>