<umd-element-alert-site>
  <h2 slot="headline">
    <a href="{{ headline_url }}">
      {{ headline }}
    </a>
  </h2>
  <div slot="body" class="umd-rich-text">
    <p>
      {{ body }}
    </p>
  </div>
  {% if cta %}
    <umd-element-call-to-action slot="actions" type="primary">
      <a href="{{ cta }}"><span>{{ cta_text }}</span></a>
    </umd-element-call-to-action>
  {% endif %}
</umd-element-alert-site>
