{#
/**
 * @file
 * UMD Design System person bio component.
 *
 * Available variables:
 * - photo: image.
 * - photo_alt: string.
 * - person_name: string.
 * - job_title: string.
 * - organization_url: string (URL).
 * - organization: string.
 * - pronouns: string.
 * - telephone: string. numbers only.
 * - email: string.
 * - body_slot: WYSIWYG (slot).
*/
#}

<umd-element-person-bio>
  <img slot="image"
    src="{{ photo }}"
    alt="{{ photo_alt }}">
  <p slot="name">
    {{ person_name }}
  </p>
  {% if job_title %}
    <p slot="job-title">
      {{ job_title }}
    </p>
  {% endif %}
  {% if organization_url %}
    <a href="{{ organization_url }}" slot="association">
      {{ organization }}
    </a>
  {% elseif organization %}
    {{ organization }}
  {% endif %}
  {% if pronouns %}
    <p slot="pronouns">
      {{ pronouns }}
    </p>
  {% endif %}
  {% if telephone %}
    <a slot="phone" href="tel:{{ telephone }}">{{ telephone }}</a>
  {% endif %}
  {% if email %}
    <a slot="email" href="mailto:{{ email }}">{{ email }}</a>
  {% endif %}
  <p slot="actions">
    {% block cta_slot %}{% endblock %}
  </p>
  <div class="umd-rich-text" slot="description">
    {% block body_slot %}{% endblock %}
  </div>
</umd-element-person-bio>
