<umd-element-hero type="{{ hero_type }}" theme="{{ hero_theme }}">
  {% if hero_image %}
    <img slot="image" src="{{ hero_image }}"
      alt="{{ hero_alt }}" />
  {% endif %}
  {% if eyebrow %}
    <p slot="eyebrow">
      {{ eyebrow }}
    </p>
  {% endif %}
  {% if headline %}
    <p slot="headline">
      {{ headline }} 
    </p>
  {% endif %}
  {% if main_text %}
    <p slot="text">
      {{ main_text }} 
    </p>
  {% endif %}
  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-hero>
