{#
/**
 * @file
 * UMD Design System hero component.
 *
 * Available variables:
 * - variant: string. 'overlay', 'stacked', 'minimal'.
 * - theme: string. 'light', 'dark'.
 * - hero_image: image.
 * - hero_image_alt: string.
 * - eyebrow: string.
 * - hero_title: string.
 * - cta_slot: Call to Action (slot).
 * - body_slot: WYSIWYG (slot).
*/
#}

<umd-element-hero type="{{ variant }}" data-theme="{{ theme }}">
  {% if hero_image %}
    <img slot="image" src="{{ hero_image }}"
      alt="{{ hero_image_alt }}" />
  {% endif %}
  {% if eyebrow %}
    <div slot="eyebrow">
      {{ eyebrow }}
    </div>
  {% endif %}
  {% if hero_title %}
    <h2 slot="headline">
      {{ hero_title }} 
    </h2>
  {% endif %}
  {% if main_text %}
    <div slot="text">
      {% block body_slot %}{% endblock %}
    </div>
  {% endif %}
  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-hero>
      