<umd-element-hero type="{{ hero_type }}" theme="{{ hero_theme }}">
  <img slot="image" src="{{ hero_image }}"
    alt="{{ hero_alt }}" />
  <p slot="eyebrow">
    {{ eyebrow }} {{ hero_type }} 
  </p>
  <p slot="headline">
    {{ headline }} 
  </p>
  <p slot="text">
    {{ main_text }} 
  </p>
  <div slot="actions">
    {% if cta %}
      <umd-element-call-to-action type="primary" theme="dark">
        <a href="{{ cta }}" aria-label="{{ cta_aria_label }}">
          <span aria-hidden="true">{{ cta_text }}</span>
        </a>
      </umd-element-call-to-action>
    {% endif %}
  </div>
</umd-element-hero>
