<umd-element-hero type="{{ hero_type }}" theme="{{ hero_theme }}">
  <img slot="image" src="{{ hero_image }}"
    alt="{{ hero_alt }}" />
  <p slot="eyebrow">
    {{ eyebrow }} {{ hero_type }} 
  </p>
  <p slot="headline">
    {{ headline }} 
  </p>
  <p slot="text">
    {{ main_text }} 
  </p>
  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-hero>
