<umd-element-call-to-action slot="actions" type="{{ action_type }}" size="{{ element_size }}" data-theme="{{ theme }}">
  <a href="{{ cta }}" aria-label="{{ cta_aria_label }}">
    {{ cta_text }} 
  </a>
</umd-element-call-to-action>
