<umd-element-banner-promo>
  <p slot="headline">
    {{ headline }}
  </p>

  <div slot="text" class="umd-rich-text">
    <p>
      {{ body }}
    </p>
  </div>

  {% if cta %}
    <div slot="actions">
      <umd-element-call-to-action type="primary" theme="dark">
        <a href="{{ cta }}" aria-label="{{ cta_aria_label }}">
          {{ cta_text }} 
        </a>
      </umd-element-call-to-action>
    </div>
  {% endif %}
</umd-element-banner-promo>
